@font-face {
  font-family: "iconfont";
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ri-camera-lens-line:before {
  content: "\eb9c";
}

.icon-ri-radar-line:before {
  content: "\e804";
}

.icon-ri-barcode-box-line:before {
  content: "\e99b";
}

.icon-bluetooth-line:before {
  content: "\e6c8";
}

.icon-scan:before {
  content: "\e69a";
}

.icon-settings:before {
  content: "\e699";
}

.icon-flask-line:before {
  content: "\e812";
}

